.drp-container {
    position: absolute;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;
    background: #fefefe;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid #94a8bc;
    border-top-width: 0
}

.drp-container .drp-side {
    width: 220px;
    vertical-align: top
}

.drp-container .drp-caption {
    height: 40px;
    background: #fe6666;
    color: #fefefe;
    vertical-align: middle;
    text-align: center;
    font: bold 14px/1 Helvetica, sans-serif
}

.drp-container .drp-arrows-container {
    width: 24px;
    height: 24px;
    margin: 0 5px 0;
    cursor: pointer
}

.drp-container .drp-arrows-container:hover .drp-svg-arrow-left, .drp-container .drp-arrows-container:hover .drp-svg-arrow-right {
    z-index: 3
}

.drp-container .drp-arrows-container:hover .drp-svg-circle {
    opacity: .25
}

.drp-container .drp-svg-arrow-left {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB3aWR0aD0iMzIiIHhtbDpzcGFjZT0icHJlc2VydmUiPiAgICA8cG9seWdvbiBwb2ludHM9IjMxOS43IDk2IDE2MCAyNTYgMTYwIDI1NiAxNjAgMjU2IDMxOS43IDQxNiAzNTIgMzgzLjYgMjI0LjcgMjU2IDM1MiAxMjguNCAiIHRyYW5zZm9ybT0ibWF0cml4KDAuMDc1LDAsMCwwLjA3NSwtMy4yMjQwNjcsLTMuMTI5Mzc1KSIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==) 50% 50%/60% 60% no-repeat;
    z-index: 1
}

.drp-container .drp-svg-arrow-right {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB3aWR0aD0iMzIiIHhtbDpzcGFjZT0icHJlc2VydmUiPiAgICA8cG9seWdvbiBwb2ludHM9IjIyNC43IDI1NiAzNTIgMTI4LjQgMzE5LjcgOTYgMTYwIDI1NiAxNjAgMjU2IDE2MCAyNTYgMzE5LjcgNDE2IDM1MiAzODMuNiAiIHRyYW5zZm9ybT0ibWF0cml4KC0wLjA3NSwwLDAsLTAuMDc1LDM1LjE3NTkzMywzNS4yNzA2MjUpIiBmaWxsPSIjZmZmIi8+PC9zdmc+) 50% 50%/60% 60% no-repeat;
    z-index: 1
}

.drp-container .drp-svg-circle {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB3aWR0aD0iMzIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGQ9Im0zNC40IDE2LjhhMTYgMTYgMCAxIDEtMzIgMCAxNiAxNiAwIDEgMSAzMiAweiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTIuMzA4OTgxNiwtMC43NTczMDMwMikiLz48L3N2Zz4=) 100% 100%/100% 100% no-repeat;
    opacity: 0;
    z-index: 2
}

.drp-container .drp-svg-arrow-left:active, .drp-container .drp-svg-arrow-right:active {
    top: 1px
}

.drp-container .drp-table-wrapper {
    margin: 0 10px 15px
}

.drp-container .drp-table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    font: bold 11px/2.2 Helvetica, sans-serif;
    color: #647386
}

.drp-container .drp-thead {
    font-weight: bold;
    color: #94a8bc
}

.drp-container .day {
    cursor: pointer
}

.drp-container .day:hover {
    background: #87CEFA
}

.drp-container .day.selected {
    background: #87CEFA
}

.drp-container .day.hovered {
    background: #ffd7e1
}

.drp-container .day.selected.active {
    background: #8cb9e9
}

.drp-container .active {
    border: 1px solid #fe6666
}

.drp-container .hide {
    display: none
}

.drp-container .invisible {
    visibility: hidden
}
