.date-range-container {
    outline: 1px solid red;
    width: 600px;
    position: absolute;
    z-index: 1;
    opacity: 0;
}

.text-input {
    width: 800px;
}

.day {
    cursor: pointer;
}
.day:hover {
    background: lightskyblue;
}

.day.selected {
    background: dodgerblue;
}

.day.hovered {
    background: pink;
}

.day.selected.active {
    background: #114e88;
}

.active {
    background: gainsboro;
}

.hide {
    display: none;
}