.date-range-calendar {
    width: 500px;
    height: 200px;
}
.day {
    cursor: pointer;
}
.day:hover {
    background: lightskyblue;
}

.day.chosen {
    background: dodgerblue;
}

.day.chosen.active {
    background: #114e88;
}

.active {
    background: gainsboro;
}