body {
    margin: 0;
    padding: 0;
}

.date-range-container {
    position: absolute;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;
    background: #fefefe;
    border: 1px solid #94a8bc;
}

.drp-sides-container {
    /*outline: 1px solid red;*/
}

.drp-side {
    width: 260px;
    height: 280px;
    vertical-align: top;
}

.drp-caption {
    height: 60px;
    background: #fe6666;
    color: #fefefe;
    vertical-align: middle;
    text-align: center;
}

.drp-table-wrapper {
    margin: 0 15px;
}

.drp-table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    font: bold 14px/2.2 Helvetica, sans-serif;
    color: #647386;
}

.drp-thead {
    font-weight: bold;
    color: #94a8bc;
}

.drp-row {
    /*outline: 1px solid red;*/
}

.drp-td {
    /*outline: 1px solid darkturquoise;*/
}

.text-input {
    width: 200px;
}

.day {
    cursor: pointer;
}
.day:hover {
    background: #87CEFA;
}

.day.selected {
    background: #87CEFA;
}

.day.hovered {
    background: #FFC0CB;
}

.day.selected.active {
    background: #8cb9e9;
}

.active {
    border: 1px solid #fe6666;
}

.hide {
    display: none;
}